.accountInfo {
    display: flex;
    color: gray;
    width: 70%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.accountInfo__tab{
    font-size: 2rem;
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.accountInfo__item{
    display: flex;
}

.accountInfo__tab__item{
    flex: 2;
}

.accountInfo__tab__bar{
    flex: 1;
    font-size: 2rem;    
    margin-left: 2vw;
    border-left: thick solid;
    height: 3rem;
}

.clicked{
    color: #a8dadc;
}

.accountInfo__info{
    font-size: 1rem;
    flex: 1;
    text-align: left;
}


@media screen and (max-width: 1024px) {
    .accountInfo {
        margin-top: 3vh;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .accountInfo__info{
        width: 100%;
    }

    .accountInfo__tab{
        width: 100%;
        flex: 0;
        font-size: 1rem;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 5vh;
    }

    .accountInfo__tab__bar{
        display: none;
    }

    .accountInfo__tab__item{
        border-bottom: solid;
    }

}