.login {
    display: flex;
    color: #a8dadc;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.login__header {
    font-size: 44px;
    text-align: right;
    flex: 1;
}

.login__contents{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.login__inputs{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.login__btns {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.login__btns button{
    background-color: black;
    color: #a8dadc;
    border: 2px solid #a8dadc;
    border-radius: 12px;
    padding: 14px, 40px;
    font-size: 30px;
}


@media screen and (max-width: 1024px) {
    .login {
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
    }

    .login__header {
        font-size: 30px;
        text-align: center;
        flex: 0;
    }
    .login__contents {
        padding-top: 10vh;
        flex: 0;
        width: 70%;
    }
    .login__inputs {
        padding-bottom: 5vh;
    }
}