.personalInfo{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.personalInfo__header{
    font-size: 2rem;
    color: #a8dadc;
    text-align: center;
    padding-bottom: 5vh;
}

.personalInfo__header h3{
    display: none;
}

.personalInfo__content{
    display: flex;
    flex-direction: column;
}

.personalInfo__content__item{
    width: 100%;
}

.personalInfo__content__item input{
    width: 70%;
    margin-left: 30%;
    text-align: right;
}

.personalInfo__content__item button{
    width: 30%;
    margin-left: 70%;
    text-align: right;
}

.personalInfo__btns{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.personalInfo__btns__confirm{
    width: 50%;
}

.personalInfo__btns__confirm button{
    width: 90%;
    margin: auto;
    font-size: 20px;
    background-color: black;
    color: #a8dadc;
    border: 2px solid #a8dadc;
}

.personalInfo__btns button:hover{
    background-color:  #a8dadc;
    color: white;
}


.personalInfo__btns__cancel{
    width: 50%;
    text-align: right;
}

.personalInfo__btns__cancel button{
    width: 90%;
    font-size: 20px;
    background-color: black;
    color: #a8dadc;
    border: 2px solid #a8dadc;
}

@media screen and (max-width: 1024px){
    .personalInfo__btns{
        flex-direction: column;
        justify-content: none;
    }
    .personalInfo__btns__confirm{
        width: 100%;
        padding-bottom: 2vh;
    }
    .personalInfo__btns__confirm button{
        width: 100%;
    }
    .personalInfo__btns__cancel{
        width: 100%;
    }
    .personalInfo__btns__cancel button{
        width: 100%;
    }
}

@media screen and (max-width: 380px){
    .personalInfo__header h1{
        display: none;
    }

    .personalInfo__header h3{
        display: contents;
    }
}